p {
    margin: 10px 0 0 0;
}

#game_main {
    padding: 20px;
    margin: 0 auto;
    width: 400px;
}

#description {
    margin: 0 auto;
    width: 400px;
}

#description p#title {
    text-align: center;
    font-size: large;
}

#description p#d_text {
    font-size: x-small;
}

#world {
    border: 1px solid #00ff00;
    cursor: crosshair;
}

#menu {
    margin: 0 auto;
    padding-top: 10px;
    
    width: 400px;
}

#cell_num p#free {
    margin: 0 auto;
}

input[type="text"] {
    width: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
