#game_main {
    padding: 20px;
    margin: 0 auto;
    width: 400px;
}

#world {
    border: 1px solid #00ff00;
}

#menu {
    margin: 0 auto;
    padding-top: 10px;
    
    width: 400px;
}

input[type="text"] {
    width: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
